
/* Change the main title color */
h1.title {
  color: #183456; 
}

#pca-dependent {
  color: #244B7A;
}

#pca-independent {
  color: #244B7A;
}

div.cell-output {
  margin-top: 20px;  /* space between code and its output */